*{
    font-family: 'Ubuntu', sans-serif;
}
.container{
    position: absolute;
    left: 35%;
    border: 1px solid black;
    border-radius: 10%;
    padding: 3rem;
}

.title{
    display: flex;
    justify-content: center;
}
.title2{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
}

.input{
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid black;
}

button{
    border: 1px solid rgb(10, 73, 156);
    border-radius: 5px;
   
}

